.hero {
  width: 99.5vw;
  height: 40rem;
  padding: 30px;
  background-image: url(../../img/vk-4k.jpg);
  background-size: cover;
  color: wheat;
}

 p{
  margin-top: 40rem;
  font-size: 1.5rem;
  color: rgb(115, 134, 141);
  margin: 20px 0px;
  margin-bottom: 5rem;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10rem;
}

.social ul,
.social li,
.social a{
  list-style-type: none;
  text-decoration: none;
  font-size: 30px;
  color: aqua;
  margin-bottom: 10px;
}


