.container {
  display: flex;
  align-items: center;
  background: #888;
  background-image: url(../../img/bg_fundo_red.jpg);
  border: 2px solid #888;
  height: 85vh;  
  padding: 20%;
  background-size: cover;
  margin-bottom: 30px;
}

.card__about {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-size: 20px;
  border-radius: 40px;
  margin-left: 2%;
  padding: 5%;

  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(5px);
}

.h1_sobre {
  margin: 30px;
  text-align: center;
  background-image: var(--grad-color);
  color: black;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 2.5rem;
}

.text {
  text-align: justify;
  margin: 10px;
  color: rgb(133, 143, 201);
}
 
@media screen and (max-width: 1626px) {
  
  .container  {
    margin: 0;
    padding: 0;
    height: 100vh;  
    overflow: hidden;
  }
  
  .card__about {
     margin: 5%;
     padding: 5%;
   }

   .text {
    text-align: justify;
    font-size: 15px;
    margin: 0;
   }
}
 
@media screen and (max-width: 1296px) {

    .container  {
     overflow: hidden;
    }

    .card__about {
      font-size:5px;
    }
}

