.logo img {
  display: flex;
  align-items: center;
  text-align: center;
  width: 130px; 
  margin-left: 46%;
  margin-top: -30px;
}

.container__trailer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 105px;
  margin-right: 100px;
}

.trailer_video video {
  margin: 10px;
  width: 800px;
  -o-object-fit: cover;
  object-fit: cover;
}

#video__bjorn {
  height: 450px;
}


/* @media screen and (max-width: ){
  
} */