.container__trailer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 105px;
  margin-right: 100px;
}

.trailer_video video {
  margin: 10px;
  width: 800px;
  /* height: ; */
  -o-object-fit: cover;
  object-fit: cover;
}